# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python
venv/
__pycache__/
*.pyc
.env

# OS / Editor
.DS_Store
.vscode/
!.vscode/extensions.json
.cursor/
*.code-workspace
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Token
github_token.txt
DEPRECATED*